<link rel="stylesheet" type="text/css" href="./CheckBoxInput.css">

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label>
                <input type="checkbox"> Value
            </label>
        </div>
    </div>
</div>