<link rel="stylesheet" type="text/css" href="./Input.css">

<div class="form-group">
    <label for="" class="col-sm-2 control-label">Value</label>
    <div class="col-sm-10">
            <input type="" class="form-control" id="" placeholder="Value">
    </div>
</div>