    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link rel="stylesheet" type="text/css" href="./SectionNews.css">

    <section class="news">
        <div class="container ">
        <SectionDescriptionLink />

            <div class="row ">
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <i class="fa fa-calendar-check-o news__icon" aria-hidden="true "></i>
                    <Post />
                </div>
            </div>
        </div>

    </section>