.staff,
.pets {
  text-align: center; }

.staff__tittle {
  color: #eaae43;
  text-align: center;
  text-transform: uppercase; }

.staff__image {
  width: 65%; }

.staff__image--small {
  width: 25%;
  float: left;
  margin-bottom: 25px; }

.staff__info {
  font-size: 12px; }

.staff__name {
  font-size: 24px; }