<section class="pets--yellow"> <!-- <section class="pets--white"> -->
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <h2 class="staff__tittle">Наши кошки</h2>
                </div>
            </div>

            <div class="row">
                <pet-item/>
            </div>
        </div>
</section>