$orange: #eaae43
$brown: #960002
$white: #ffffff

.pets--white
    padding-top: 40px
.pets--yellow
    background-color: #FFCC33
.staff__tittle
	color: $orange
	text-align: center
	text-transform: uppercase