<i class="fa fa-facebook-square footer__icon" aria-hidden="true"></i>
<i class="fa fa-twitter-square footer__icon" aria-hidden="true"></i>
<i class="fa fa-google-plus-square footer__icon" aria-hidden="true"></i>