<link rel="stylesheet" type="text/css" href="./Figure.css">

 <figure>
    <a href="" name=""><img src="" alt="" class="staff__image"></a>
    <figcaption>
        <h4 class="staff__name">Caption</h4>
        <p class="staff__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </figcaption>
</figure>