<link rel="stylesheet" type="text/css" href="./SectionPets.css">

    <section class="pets">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <Figure />
                </div>
            </div>
        </div>
    </section>