.main-menu__item {
  font-size: 20px;
  color: #eaae43 !important;
  text-transform: uppercase;
  display: inline-block !important;
  margin-right: 10px;
  margin-top: 24px !important;
  padding: 5px 10px !important; }
  .main-menu__item:hover, .main-menu__item:focus {
    text-decoration: none;
    color: #ffffff !important;
    background-color: #eaae43 !important;
    border-radius: 3px; }