.staff__tittle {
  color: #eaae43;
  text-align: center;
  text-transform: uppercase; }

.login {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top right, #960002, #eaae43, #960002);
  display: flex;
  align-items: center;
  justify-content: center; }