<link rel="stylesheet" type="text/css" href="./FormLogin.css">

<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="staff__tittle">Form name/description</h2>
                <form class="form-horizontal">
                    <Input />
                    <Input />
                    <CheckBoxInput />
                    <Button />
                </form>
            </div>
        </div>
    </div>
</div>