.pets--white {
  padding-top: 40px; }

.pets__foto {
  width: 85%; }

.pets__foto--small {
  width: 70%; }

.vet__blog {
  width: 100%;
  height: 100px;
  background-color: #FFCC33;
  border-radius: 10px;
  margin-bottom: 30px;
  color: #960002;
  font-size: 16px;
  padding: 5px 10px; }
