<link rel="stylesheet" type="text/css" href="./SectionPetsWhite.css">

<section class="pets--white">
        <div class="container">
            <div class="row">

                <div class="hidden-sm hidden-md hidden-lg col-xs-12">
                   <PetImage />
                </div>

                <div class="col-sm-7 col-xs-12">
                    <div class="vet__blog">
                     <Post />
                     </div>
                </div>

                <div class="col-sm-5 hidden-xs">
                    <PetImage />
                </div>
            </div>
        </div>
    </section>