<link rel="stylesheet" type="text/css" href="./SectionAbout.css">

    <section class="about">
        <div class="container">
        <SectionDescriptionLink />

            <div class="row">
                <div class="col-xs-12 ">
                    <img src="img/sample.png " alt=" " width="300 " height="200 " class="about__image ">
                    <p class="about__text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur perspiciatis perferendis ad blanditiis praesentium, dolor sed hic? At earum consequatur, quo perferendis minima id repudiandae quod ut deleniti non voluptas. Fuga amet
                        vero sed, in vitae commodi explicabo dolorum recusandae, non repudiandae, vel eaque autem modi rerum accusantium nihil minima perspiciatis voluptates dolores perferendis esse id officia! Dolorum esse amet explicabo labore quaerat
                        voluptatum sunt praesentium sed ipsam veritatis, repellendus neque, odio possimus blanditiis obcaecati velit delectus illum dolorem. Placeat nisi ipsam, aperiam sequi dignissimos nihil eaque voluptatum quo esse at eligendi unde,
                        ullam laudantium praesentium, porro fuga beatae veniam et optio ex itaque veritatis? Nihil, dignissimos, quo! Expedita totam dignissimos voluptate aliquam dicta nemo adipisci. Assumenda molestiae in at, esse iure quod distinctio
                        laudantium. Earum quae cupiditate ad ex. At consequuntur debitis reiciendis autem eaque officiis, repellat adipisci! Tempora doloremque, sint sequi expedita cupiditate error delectus cum distinctio dolore, temporibus optio velit
                        ex esse voluptatum fugiat. Repellat, omnis eos perspiciatis delectus! Fugit, aliquam animi fugiat tempora nobis natus, soluta error cumque, deleniti eos laborum. Inventore minus dolores provident. Libero ab, unde consectetur veniam,
                        nemo magni eius ratione omnis, totam adipisci, hic minus quos illo nesciunt molestias dolorem ipsum porro.</p>
                </div>
            </div>
        </div>
    </section>