.about {
  background: linear-gradient(to top right, #960002, #eaae43, #eaae43, #960002);
  padding: 10px 0 30px; }

.about__image {
  float: left;
  margin: 0 25px 20px 0; }

.about__text {
  font-size: 18px;
  text-align: justify; }