<link rel="stylesheet" type="text/css" href="./SectionInfo.css">

	<section class="info">
        <div class="container">
            <SectionDescription />

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <img src="../img/slider.png" alt="slider" class="slider">
                </div>
            </div>

            <div class="row ">
                <div class="col-md-6 col-md-offset-3 ">
                    <p class="info__text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </section>