.nav-pets {
  background: #ffffff !important;
  height: 75px;
  line-height: 75px; }

.nav-pets--color {
  background: linear-gradient(to top right, #960002, #eaae43, #960002) !important; }

.main-menu__logo {
  padding: 5px 0 !important; }

.main-menu__flag {
  display: inline-block !important;
  margin-left: 40px; }

.main-menu__list li {
  z-index: 1000; }