<link rel="stylesheet" type="text/css" href="./NavHeader.css">

    <nav class="navbar-default  nav-pets" role="navigation">
        <div class="container  main-menu">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top_menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <Logo />
            </div>

            <div class="collapse navbar-collapse navbar-right" id="top_menu">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle main-menu__flag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/ua.jpg" alt="UA"> УКР<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><img src="img/ua.jpg" alt="UA"> УКР</a>
                            </li>
                            <li>
                                <a href="#"><img src="img/ru.jpg" alt="RU"> РУС</a>
                            </li>
                            <li>
                                <a href="#"><img src="img/eng.jpg" alt="EN"> ENG</a>
                            </li>
                            <li>
                                <a href="#"><img src="img/ger.jpg" alt="GE"> GER</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav main-menu__list">
                    <li><a href="#pets" class="main-menu__item">Животные</a></li>
                    <li><a href="#recall" class="main-menu__item">Отзывы</a></li>
                    <li><a href="#news" class="main-menu__item">Новости</a></li>
                    <li><a href="#about" class="main-menu__item">О нас</a></li>
                    <li><a href="html/contacts.html" class="main-menu__item">Контакты</a></li>
                </ul>
            </div>
        </div>
    </nav>