<link rel="stylesheet" type="text/css" href="./SectionStaff.css">

<section class="staff ">
        <div class="container ">
            <SectionDescriptionLink />

            <div class="row ">
                <div class="col-md-3 col-sm-6 col-xs-12 ">
                    <Figure />
                </div>
            </div>
        </div>
    </section>