<link rel="stylesheet" href="./ContactSocialNetworksComponent.css">
<div>
    <h4 class="staff__name">Мы в соцсетях</h4>
    <i class="fa fa-facebook-square footer__icon footer__icon--center" aria-hidden="true"></i>
    <i class="fa fa-twitter-square footer__icon footer__icon--center" aria-hidden="true"></i>
    <i class="fa fa-google-plus-square footer__icon footer__icon--center" aria-hidden="true"></i>
</div>