<link rel="stylesheet" href="./HelpRequisitesComponent.css">
<div class="col-md-4  col-sm-4 col-xs-12">
    <h4 class="staff__name">Для тех, кто хочет<br>помочь</h4>
    <p>Приватбанк</p>
    <p>Т/с 26 0000 0000 0000</p>
    <p>МФО 350000</p>
    <p>Служба порятунку тварин</p>
    <br>
    <p>Карта</p>
    <p>5900 0000 0000 0000</p>
    <p>Сидоренко Андрей</p>
</div>