<link rel="stylesheet" type="text/css" href="./SectionHappyend.css">

    <section class="happyend">
        <div class="container">
            <SectionDescriptionLink />
            <div class="row">
                <div class="col-xs-12">
                    <div class="happyend-story">
                        <div class="happyend-story__part">
                            <img src="" alt="Link">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>