.happyend {
  background: linear-gradient(to top right, #960002, #eaae43, #eaae43, #960002); }

.happyend-story {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px 0; }

.happyend-story__part {
  margin: 10px; }
  .happyend-story__part img {
    width: 350px; }

.happyend__link:hover {
  text-decoration: none; }