.pets__btn
    font-size: 18px
    text-transform: uppercase
    color: #FFCC33
    background-color: #960002
    border: 1px solid #960002
    border-radius: 4px
    padding: 5px 20px
    margin: 10px