<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <footer-phones/>
                    <footer-email/>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <footer-card/>
                    <social-networks/>
                </div>

                <footer-address/>
            </div>

            <div class="row">
                <footer-address/>
            </div>
        </div>
    </footer>