<link rel="stylesheet" type="text/css" href="./SectionPetsYellow.css">

    <section class="pets--yellow">
        <div class="container">

          <SectionDescription />

            <div class="row">
                <div class="col-sm-5 col-xs-12">
                   <PetImage />
                </div>

                <div class="col-sm-7 col-xs-12">
                    <div class="vet__blog vet__blog--invert">
                        <Post />
                    </div>
                </div>
                
            </div>
        </div>
    </section>