.pets__foto--small {
  width: 70%; }

.pets__img {
  text-align: center; }

.pets--yellow {
  background-color: #FFCC33; }

.vet__blog {
  width: 100%;
  height: 100px;
  background-color: #FFCC33;
  border-radius: 10px;
  margin-bottom: 30px;
  color: #960002;
  font-size: 16px;
  padding: 5px 10px; }

.vet__blog--invert {
  background-color: white; }
