<link rel="stylesheet" type="text/css" href="./Post.css">

<time>01.01.01</time>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dolores cum explicabo tempora nobis, veritatis.
<a href="### ">Подробнее...</a>
</p>