.pets__history
    height: 260px
    width: 100%
    background-color: #FFCC33
    border-radius: 10px
    margin-bottom: 30px
    color: #960002
    font-size: 20px
    padding: 5px 10px
.pets__history--invert
    background-color: white