<link rel="stylesheet" href="./ContactPhonesComponent.css">
<div class="col-md-4 col-sm-4 col-xs-12">
    <h4 class="staff__name">Наши телефоны</h4>
    <p>+ 380 50 111 11 11</p>
    <p>+ 380 50 111 11 11</p>
    <p>+ 380 50 111 11 11</p>
    <br>
    <br>
</div>