<div class="pets__img">
    <figure>
        <img src="../img/Cat02.png" alt="" class="pets__foto">
        <figcaption>
            <h4 class="staff__name">Макс</h4>
        </figcaption>
    </figure>                        
</div>