<link rel="stylesheet" type="text/css" href="./SectionDescriptionLink.css">

<div class="row">
    <div class="col-xs-12">
        <a href="" name="" class="happyend__link">
            <h2 class="staff__tittle">Description</h2>
        </a>
    </div>
</div>